.ant-input-affix-wrapper-status-error{
    border-color: #ff4d4f;
    background-color: var(--font-color) !important;
}
.ant-input-status-error{
    color: #ff4d4f;
    background-color: var(--font-color) !important;
}
